@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

.navbar-light {
    font-family: "Roboto";
    text-rendering: optimizelegibility;
  }

.navbar-dark {
    font-family: "Roboto";
    text-rendering: optimizelegibility;
  }

h1{
  font-family: "Roboto";
  font-weight: 600;
}

h2{
font-family: "Roboto";
font-weight: 600;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.medium-zoom-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

ol { padding-left: 50px; }
li { 
  color: #4F4F4F; 
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  
  &:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute; // yeah, you have to manually position it based on the text size, line height, etc. (in the parent li style). it's not the smarest solution 
    top: -12px;
    left: -46px;
  }
}

strong { color: #292929; }

ol.alternating-colors { 
  li:nth-child(odd):before { border-color: #0BAD02; }
  li:nth-child(even):before { border-color: #2378D5; }
}