@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

.navbar-light {
    font-family: "Roboto";
    text-rendering: optimizelegibility;
  }

.navbar-dark {
    font-family: "Roboto";
    text-rendering: optimizelegibility;
  }

h1{
  font-family: "Roboto";
  font-weight: 600;
}

h2{
font-family: "Roboto";
font-weight: 600;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.medium-zoom-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

strong { color: #292929; }


ol {
  list-style: none;
  counter-reset: steps;
}
ol li {
  counter-increment: steps;
  list-style-position: outside;
  margin-bottom: 5px;
}
ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #ff6f00;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}
ol ol li::before {
  background: darkorchid;
}
