@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

.navbar-light {
    font-family: "Roboto";
    text-rendering: optimizelegibility;
  }

.navbar-dark {
    font-family: "Roboto";
    text-rendering: optimizelegibility;
  }

h1{
  font-family: "Roboto";
  font-weight: 600;
}

h2{
font-family: "Roboto";
font-weight: 600;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.medium-zoom-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

strong { color: #292929; }


ol {
            list-style: none;
            counter-reset: steps;
            padding-left: 2.5rem; /* Space for the absolutely positioned markers */
        }
        
        ol li {
            counter-increment: steps;
            margin-bottom: 5px;
            position: relative;
        }
        
        ol li::before {
            content: counter(steps);
            background: #618fcb;
            color: white;
            font-weight: bold;
            width: 1.4em;
            height: 1.4em;
            border-radius: 50%;
            display: inline-grid;
            place-items: center;
            line-height: 1.2em;
            position: absolute;
            left: -2rem; /* Position outside the list item */
            top: 5px;
        }
        
        ol ol {
            padding-left: 2rem; /* Less padding for nested lists */
        }
        
      
